<div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapibleMenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Ideator</a>
    </div>
    
     <div class="collapse navbar-collapse" id="collapibleMenu">
        <ul class="nav navbar-nav navbar-right">
		  <li><a href="">About us</a></li>
		  <li><a href="">All ideas</a></li>
		  <li><a href="">Inspire me</a></li>
		</ul>
	</div>

  